.genreCard{
    font-size: 17px;
    font-weight: bold;
}

.bigcontainer{
    border: 3px solid rgb(2, 2, 2);
    margin: 5px;
    width: 300px;
    height: 310px;
    overflow: hidden;
    border-radius:  20px 20px 12px 12px ;
    justify-content: center;
    background-color: rgba(96, 122, 110, 0.993);
    color: rgb(58, 41, 90);
    text-decoration:double;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;
}
.bigcontainer img{
    width: 350px;
    border-radius: 2px;
    height: 210px;
    filter: drop-shadow(8px 8px 4px #2b2b27);
   /*  box-shadow: 8px 8px 8px #FAEA10; */
}
.bigcontainer header{
    justify-content: center;
    background-color: bisque;
    font-weight: bold;
    font-size:medium;

}
.genreCard{
    font-size: small;
    font-weight: 40%;
  align-items:flex-end;
  display: table-cell;
    flex-direction: column;
    
  
}
.galeria{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
a:link{
    text-decoration: none;
}