.cardCont {
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* flex-wrap: wrap; */
    width: 100%;
    /* border: 2px solid black; */
    /* margin-left: 30%; */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    overflow: hidden;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

.name {
   color: white;
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   font-size: 0.7rem;
   justify-content: center;
}

.genres {
    color: white;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    justify-content: center;
    
}

.rating {
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    
}