.genreCard{
    font-size: 17px;
    font-weight: bold;
}

.bigcontainer{
    border: 3px solid black;
    margin: 20px;
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    justify-content: center;
    background-color: rgba(240, 224, 0, 0.993);
    color: black;
    text-decoration: inherit;
}
.bigcontainer img{
    width: 300px;
    border-radius: 2px;
    height: 210px;
}
.galeria{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
a:link{
    text-decoration: none;
}