.divsaso{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
    
}


.name{
   margin: 5px;
   color:white;
   font-size: x-large;
}

.plats{
    margin: 5px;
    color: lightcyan;
}
.descri{
    padding: 0 10px 0 10px ;
    margin: 5px;
   color : lightsalmon;
}

.genres{
    margin: 5px;
 color: lightgreen;
}

.rating{
    margin-bottom: 10px;
    color:lightyellow;

}
.releas{
    color:lightyellow;
    text-align: center;
}
