.App{
    background: rgb(33,33,128);
    background: linear-gradient(90deg, rgba(33,33,128,0.8743872549019608) 4%, rgba(142,62,120,0.804359243697479) 50%, rgba(27,133,154,0.7679446778711485) 100%);
    height: 100vh;
}


.containerCreate{
    display: flex;
    flex-direction: column;
}

.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    background: rgb(33,33,128);
    background: linear-gradient(90deg, rgba(33,33,128,0.8743872549019608) 4%, rgba(142,62,120,0.804359243697479) 50%, rgba(27,133,154,0.7679446778711485) 100%);
}
textarea{
    border-radius: 10px;
    max-width: 170px;
    min-width: 170px;
    max-height: 70px;
    min-height: 50px;
    border-color: #bbc2;
    font-weight: bold;
    text-decoration: none;
    resize: none;
}
input{
    border-radius: 10px;
    background: #bbc2;
    padding: 10px;
}
form{
    margin: 5px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 10px;
    position: relative;
}
.genresForm{
    padding: 10px;


}

.createButton{
    padding:12px;
    width: 190px;
    cursor: pointer;
    background: #799be6;
    color: white;
    transition:  .5s ease;
    border-radius: 10px;
}
.createButton:hover{
    background: transparent;
    border: 2px solid #799be6; 
    box-shadow: 0 0 10px 0 #799be6 inset,
                0 0 10px 4px #799be6;
    border-radius: 10px;       
}
.containerForm select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.containerForm select::-ms-expand{
    display: none;
}
.containerForm select{
    text-align: center;
    display: block;
	width: 190px;
	cursor: pointer;
  	padding: 12px;
  	height: auto;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
    background: #fff;
	color: #799be6;;
    font-weight: bolder;
	font-size: 25px;
	color: #799be6;;
    border-radius: 12px;
    position: relative;
    transition: 0.6s;

}
.containerForm select:hover{
    background: #000;
    color: #fff;
}
